<% include partials/head %>
	<% include partials/header %>

		<script type="text/javascript">
			angular.module('FRIENDS', []).factory('sectionData', [

				function () {

					'use strict';

					var data = {};
					data = <%- friends %>;

					return data;
				}
			]);
		</script>

		<div data-ng-controller="FriendsCtrlr">
			<h1>Hello Friends</h1>
			<ul>
				<li data-ng-repeat="friend in friends">
					<h2><a href="/friends/{{friend.id}}" data-ng-bind="friend.name"></a></h2>
					<label data-ng-cloak>Married
						<input type="checkbox" disabled data-ng-model="friend.married">
					</label>
				</li>
			</ul>
		</div>

<% include partials/footer %>