extends layout

block content
	div.row
		div.twelveColumns
			form(action=path, method='post')
				- var article = article || {body:'', title: ''}, returnPath = returnPath || '/';
				div.row
					p.elevenColumns Add an article by entering in markdown or select an article to edit.
					div.sixColumns
						label(for='articleTitle') Article Title
						input#articleTitle(type='text', name='articleTitle', value=article.title)
				div.row(ng-controller='ArticleCtrlr')
					div.sixColumns
						label(for='articleBody') Article in markdown
						textarea#articleBody(ng-model='articleMarkdown', ng-change='markdownConvert()', ng-init='init()', name='articleBody', style='min-height:300px')= unescape(article.body)
					div.sixColumns#markdownOutput(ng-bind-html-unsafe='convertedMarkdown')
						{{convertedMarkdown}}
				div.twelveColumns.right
					a.button.default(href=returnPath) Cancel
					button.button.primary(type='submit') Submit
					if(article.canDelete)
						a.button.alert(href='/articles/' + article._id.toString() + '/delete') Delete
		div.twelveColumns
			hr
			if (typeof articles !== 'undefined' && articles.length)
				h2 Articles
				ul.twelveColumns
					each article in articles
						li
							a(href='/articles/' + article._id.toString())= article.title
	script(type="text/javascript", src='/vendor-bower/angular/angular.min.js')
	script(type="text/javascript", data-main='/src/js/main.js', src='/vendor-bower/requirejs/require.js')