extends layout

block content
	div.row
		if (typeof articles !== 'undefined' && articles.length)
			each article in articles
				div.twelveColumns
					article.eightColumns
						h2= article.title
						h3= article.created
						div!= markdown(unescape(article.body))
					hr